<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationTitle" value="Racecard Viewer"/>
    <add key="DataFileDirectory" value="RawDataFiles"/>
    <add key="LogFileDirectory" value="Logs"/>
    <add key="" value=""/>
  </appSettings>
  <connectionStrings>
    <!--<add name="HorseRacingDbContext" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=HorseRacing;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\HorseRacing.mdf" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>