@model IEnumerable<HorseRacing.Domain.Track>

@{
    ViewData["Title"] = "Index";
}

<h1>Track Maintenance</h1>

<div class="panel">

</div>

<div class="container-fluid">

    @foreach (var track in Model)
    {

        <div class="row form-group">
            <div class="col-sm-1">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@track.Id">Edit</a>
            </div>

            <div class="col-sm-3">
                @Html.DisplayFor(modelItem => track.Name)
            </div>

        </div>
    }
</div>