@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Racecard Viewer</h1>
    <p>This is a simple application to view thoroughbred horse racing data. Simply select a Race Day from the menu, then select from the available days to view.</p>
</div>
